@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  scroll-behavior: smooth;
}

@layer utilities { 
  .text-balance {
    /* Note: text-wrap: balance; may not work in all browsers */
    /* Replace this with a supported property or remove it */
    text-wrap: normal; /* Example of a fallback */
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.card-enter {
  animation: slideIn 0.5s forwards; /* Adjust duration as needed */
}

.shadow-neumorphic {
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2), 
              -8px -8px 20px rgba(255, 255, 255, 0.9);
}


.pixel-font{
  font-family: 'Press Start 2P', cursive;
  font-weight: 400;
}



/* For Webkit browsers (Chrome, Safari, Edge, Opera) */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888; /* Thumb color */
  border-radius: 10px;
}



body {
  overflow-x: hidden; /* Prevent horizontal scrolling */
}



/*For Firefox*/